Django==4.1.1
dj-database-url==1.0.0 
django-configurations==2.4
django-debug-toolbar==3.7.0
django-crispy-forms==1.14.0
crispy_bootstrap5==0.7
django-allauth==0.51.0
django_registration==3.3
django-filter==22.1
djangorestframework==3.14.0
drf-yasg==1.21.4
pymemcache==4.0.0
djangorestframework-simplejwt==5.2.2
django-versatileimagefield==2.2
pillow>=10.0.0 # not directly required, pinned by Snyk to avoid a vulnerability